div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
    background-color: #0eb582 !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus{
    outline: none !important;
}