.swiper {
    width: 100%;
    height: 100%;
    position: static  !important;
  }
.swiper-button-prev{
    color: #4fa94d!important;
}
.swiper-button-next{
    color: #4fa94d!important;
}
.swiper-pagination-bullet-active{
    background-color: #4fa94d !important;
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .swiper {
    margin-left: auto;
    margin-right: auto;
  }